[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
pylint = "*"
pyvows = "*"
coverage = "*"
tornado_pyvows = "*"
mock = "*"

[packages]
motor = ">=2.1.0,<3.0.0"
thumbor = "==6.5.1"
pytz = "*"

[requires]
python_version = "2.7"
