[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
pylint = "*"
coverage = ">=7.1.0,<7.2.0"
mock = "*"
preggy = "*"
pytest = ">=6.2.5"
pytest-asyncio = ">=0.10.0,<1.0.0"
pytest-cov = ">=3.0.0"
pyssim = ">=0.4.0,<1.0.0"
pyre-check = "*"

[packages]
thumbor = "==7.4.7"
motor = "==2.5.1"
pytz = "*"

[requires]
python_version = "3.8"
